*{
    width: 950px;
    height: 550px;
}
.xabar{
    background-image:url(../NaN/img/thanksgivingmenus-1634134898.jpg);
    background-repeat:no-repeat ;
    align-items: center;
    margin-left: 500px;
    
}
h1{
    
    color: rgb(30, 5, 56);
}
    
    

