*{
    width: 410px;
    height: 100px;
}
.xabar{
    background-image:url(../NaN/img/images.jpg);
    align-items: center;
    margin-left: 700px;
    
}
h1{
    padding: 20px;
    color: rgb(246, 244, 248);
}
    
    

