.dishes{
    width: 100%;
    background: rgba(248, 248, 248, 1);
    padding-top: 50px;
    padding-bottom: 50px;

    &__title{
        color: #bb2339;
        margin-left: 135px;
    }
    &__list{
        width: 85%;
        flex-wrap: wrap;
        display: flex;
        margin: 0 auto;
        justify-content: space-around;
        &__item{
            width: 23%;
            border: 1px solid rgba(0, 0, 0, 0.178);
            background-color: white;
            border-radius: 10px;
            height: 300px;
            text-align: center;
            margin-bottom: 20px;
        h4{
            color: #bb2339;
            margin-top: 24px;
        }
        }
    }
}
.img1{
    width: 80%;
}
@media screen and (max-width:768px) {
    .dishes{
        &__title{
            margin-left: 70px;
        }
        &__list{
            width: 100%;
        }
    }
}
@media  screen and (max-width:375px) {
    .dishes{
        &__list{
            flex-direction: column;
            &__item{
                width: 90%;
                margin-top: 20px;
            }
        }
    }
}